.avisos {
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px 0;
    padding: 15px 30px 5px 30px;
    align-items: center;
    width: 90%;
}